<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Nico Tailored Therapies</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="css/cookies-eu-banner.default.css">
  <link rel="stylesheet" type="text/css" media="screen" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"
    integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Courgette|Lato:300,400,700|&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="css/animate.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="css/main.css">
  <link rel="stylesheet" type="text/css" media="screen" href="css/responsive.css">
</head>

<body>
  <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please upgrade your browser to improve your experience.</p>
        <![endif]-->

  <div id="cookies-eu-banner" style="display: none;">
    By continuing to visit this site, you accept the use of cookies by Google Analytics for statistical purposes.
    <button id="cookies-eu-reject">Reject</button>
    <button id="cookies-eu-accept">Accept</button>
  </div>

  <header>
    <div class="container-fluid">
      <div class="row">
        <div class="logo col-6 col-sm-4 col-md-3 col-lg-2 col-xl-1">
          <a href="#flash"><img src="img/logo.png" alt="logo"></a>
        </div>
        <div class="desktop-nav col-6 col-sm-8 col-md-9 col-lg-10 col-xl-11 d-none d-lg-block">
          <nav class="nav">
            <ul>
              <li class="nav-item"><a href="#flash" class="nav-link">Home</a></li>
              <li class="nav-item"><a href="#book-online" class="nav-link">Book Online</a></li>
              <li class="nav-item"><a href="#therapies" class="nav-link">Therapies</a></li>
              <li class="nav-item"><a href="#therapists" class="nav-link">Our Therapists</a></li>
              <li class="nav-item"><a href="#corporate-on-site" class="nav-link">Corporate On-site</a>
              </li>
              <li class="nav-item"><a href="#branches" class="nav-link">Find Us</a></li>
              <li class="nav-item"><a href="#contact" class="nav-link">Contact Us</a></li>
              <span>|</span>
              <li class="socials">
                <a href="https://www.facebook.com/Nico-Tailored-Therapies-Remedial-Massage-Reflexology-227666440592135/"
                  class="social-link"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/NicoTherapies" class="social-link"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/nico-austin-54237633" class="social-link"><i
                    class="fab fa-linkedin-in"></i></a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="mobile-nav d-lg-none">

          <div class="nav-bg"></div>

          <div class="nav-icon">
            <div class="bars">
              <i class="bar"></i>
              <i class="bar"></i>
              <i class="bar"></i>
            </div>
          </div>

          <div class="nav">
            <ul>
              <li class="nav-item"><a href="#flash" class="nav-link"
                  onclick="setTimeout(mobile_nav_toggle, 100)">Home</a></li>
              <li class="nav-item"><a href="#book-online" class="nav-link"
                  onclick="setTimeout(mobile_nav_toggle, 100)">Book Online</a></li>
              <li class="nav-item"><a href="#therapies" class="nav-link"
                  onclick="setTimeout(mobile_nav_toggle, 100)">Therapies</a></li>
              <li class="nav-item"><a href="#therapists" class="nav-link"
                  onclick="setTimeout(mobile_nav_toggle, 100)">Our Therapists</a></li>
              <li class="nav-item"><a href="#corporate-on-site" class="nav-link"
                  onclick="setTimeout(mobile_nav_toggle, 100)">Corporate On-site</a></li>
              <li class="nav-item"><a href="#branches" class="nav-link"
                  onclick="setTimeout(mobile_nav_toggle, 100)">Branches</a></li>
              <li class="nav-item"><a href="#contact" class="nav-link"
                  onclick="setTimeout(mobile_nav_toggle, 100)">Contact Us</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </header>

  <section id="flash" class="flash">

    <div id="flash-bg"></div>

    <div id="flash-slider" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <div class="col-10 m-auto">
        <ul class="carousel-indicators">
          <li data-target="#flash-slider" data-slide-to="0" class="active"></li>
          <li data-target="#flash-slider" data-slide-to="1"></li>
          <li data-target="#flash-slider" data-slide-to="2"></li>
          <li data-target="#flash-slider" data-slide-to="3"></li>
          <li data-target="#flash-slider" data-slide-to="4"></li>
        </ul>
      </div>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item slide1 active">
          <div class="col-10 m-auto">
            <div class="row h100 align-items-center">
              <div class="col col-xl-6 slide-left wow slideInLeft">
                <h1>
                  90% of Clients Choose<br>
                  <span class="primary-color text-bg-white">Deep Tissue Massage</span>
                </h1>
                <p>...and here is the reason why : many people suffer from shoulder &amp;
                  neck pain as well as limited mobility, not to mention long hours at a
                  desk and tight, stiff muscles all of which can result in postural issues.</p>
                <p>Deep Tissue massage is a very effective treatment and can help improve
                  and eliminate long (and short term) issues.</p>
                <div class="cta">
                  <a href="https://booking.appointy.com/NicoTherapies" target="_blank"
                    class="button button-primary">Book Online</a>
                </div>
              </div>

              <div class="col-xl-6 d-none d-xl-block flash-image h100 wow slideInRight">
                <div class="star wow slideInUp">
                  <h2>New Client<br>
                    Discount!</h2>
                </div>
                <img src="img/feature-img1.png" alt="90% of Clients Choose Deep Tissue Massage">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item slide2">
          <div class="col-10 m-auto">
            <div class="row h100 align-items-center">
              <div class="col col-xl-6 slide-left wow slideInLeft">
                <h1>We Offer <span class="primary-color text-bg-white">Corporate On-site Services</span>
                </h1>
                <p>During our 10 plus years in The City we have been priveliged to work
                  with many businesses including ABN Amro, RBS, PariBank and Standard
                  Bank to name a few.</p>
                <p>Our neat no hassle clinic provides a complete range of massage
                  treatments just minutes from the desk.</p>
                <div class="cta">
                  <a href="#corporate-on-site" class="button button-primary">Learn More</a>
                </div>
              </div>
              <div class="col-xl-6 d-none d-xl-block flash-image h100 wow slideInRight">
                <img src="img/feature-img2.png" alt="hero image">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item slide3">
          <div class="col-10 m-auto">
            <div class="row h100 align-items-center">
              <div class="col col-xl-6 slide-left wow slideInLeft">
                <h1>Fun <span class="primary-color text-bg-white">Fact!!!</span></h1>
                <p>Did you know that just one hour of massage is the equivalent of 8
                  hours of sleep for your body?! We are here to help you make the
                  most of your day.</p>
                <p>Imagine just how much more productive your day could be simply
                  because you booked a massage?</p>
                <div class="cta">
                  <a href="https://booking.appointy.com/NicoTherapies" target="_blank"
                    class="button button-primary">Make a Booking</a>
                </div>
              </div>
              <div class="col-xl-6 d-none d-xl-block flash-image h100 wow slideInRight">
                <img src="img/feature-img3.png" alt="hero image">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item slide4">
          <div class="col-10 m-auto">
            <div class="row h100 align-items-center">
              <div class="col col-xl-6 slide-left wow slideInLeft">
                <h1>What <span class="primary-color text-bg-white">Makes Us Different?</span></h1>
                <p>Our therapists are highly trained in specific areas of massage therapy
                  treatment. This means that they can combine two or three therapy
                  techniques in just one massage treatment to get you better results!</p>
                <p>We want our clients to get the best out of their treatments. In order
                  to achieve this our therapists will also advise you about ongoing
                  aftercare that will compliment and enhance the results of your
                  treatment or help enable you to reach your health or sporting goals.</p>
                <div class="cta">
                  <a href="https://booking.appointy.com/NicoTherapies" target="_blank"
                    class="button button-primary">Make an Appointment</a>
                </div>
              </div>
              <div class="col-xl-6 d-none d-xl-block flash-image h100 wow slideInRight">
                <img src="img/feature-img4.png" alt="hero image">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item slide5">
          <div class="col-10 m-auto">
            <div class="row h100 align-items-center">
              <div class="col col-xl-6 slide-left wow slideInLeft">
                <h1>What Our Clients <span class="primary-color text-bg-white">Say About Us</span></h1>
                <p>&quot;he atmosphere was relaxing and the massage was done with exactly the right
                  amount of pressure. I felt great when I got home and bruised the next day,
                  which I knew I would, and have not had a headache for the entire weekend.&quot;</p>
                <p>I would like to book another appointment. ...Patsy</p>
                <div class="cta">
                  <a href="#review-slider" class="button button-primary">Read More</a>
                </div>
              </div>
              <div class="col-xl-6 d-none d-xl-block flash-image h100 wow slideInRight">
                <img src="img/feature-img5.png" alt="hero image">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control carousel-control-prev" href="#flash-slider" data-slide="prev">
        <div class="arrow arrow-prev"><img src="img/arrow-left.png" alt="previous"></div>
      </a>
      <a class="carousel-control carousel-control-next" href="#flash-slider" data-slide="next">
        <div class="arrow arrow-next"><img src="img/arrow-right.png" alt="next"></div>
      </a>

    </div>
  </section>

  <section id="book-online" class="container-fluid book-online section-padding">
    <div class="row">
      <div class="col-11 col-lg-10 m-auto">
        <div class="row">
          <div class="col-xl-7 left-content wow fadeIn">
            <div class="text">
              <h2>Book Online 24/7</h2>
              <div class="separator"></div>
              <p>For a skilled, perceptive and proffessional treatment just above the buzz of The City then there is
                nowhere better than our Devonshire Row clinic. There are excellent transport links within close walking
                distance such as Liverpool St Stn, Aldgate and Fenchurch St.</p>
              <p>Centrally situated within the business district means we can deliver complentary therapies and massage
                treatments to a wide range of clients who are able to integrate their appt into their City schedule.</p>
            </div>
            <div class="book-online-button">
              <a href="https://booking.appointy.com/nicotherapies" class="button button-white-outline-secondary"
                target="_blank">Book
                On-line</a>
            </div>
          </div>
          <div class="col-xl-5 d-none d-xl-block book-online-img wow fadeInLeft">
            <img src="img/book-online-mobile-app.png" alt="Book Online">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="therapies" class="therapies section-padding">
    <div class="therapies-parallax section-padding">
      <div class="container">
        <div class="therapies-header">
          <h1>Therapies We Believe In</h1>
          <div class="separator"></div>
          <p>Complimentary therapies are exactly that...they are designed to maintain and improve your health and
            wellbeing in the most natural ways practiced by humans over thousands of years. Research shows that a good
            balance in life with food, fitness and activities such as massage that promote physical well being leads to
            healthier, happier individuals. We are here to help get your body back in balance.</p>
        </div>
      </div>
    </div>

    <div class="therapies-cards container">
      <div class="row">

        <div class="col-md-6 col-xl-4 animated-card wow flipInX">
          <div class="therapy-card">
            <div class="card-img deep-tissue-massage"></div>
            <div class="card-text">
              <h4>Deep Tissue Massage</h4>
              <p>Like sweedish massage - but much stronger! It can provide relief from: shoulder &amp; neck pain, back
                pain, limited mobility, posture problems, arthritis, fibromyalgia, stress, headaches and anxiety.</p>
              <a href="https://booking.appointy.com/NicoTherapies?sr=631882" title="Book a Deep Tissue Massage"
                target="_blank">Book Online</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-4 animated-card wow flipInX">
          <div class="therapy-card">
            <div class="card-img sports-massage"></div>
            <div class="card-text">
              <h4>Sports Massage</h4>
              <p>As fundamental to fitness as stretching. Sports massage is much more effectively applied as a
                preventative practice; used regularly to maintain good muscle and joint health and help avoid injury.
              </p>
              <a href="https://booking.appointy.com/NicoTherapies?sr=631891" title="Book a Sports Massage"
                target="_blank">Book Online</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-4 animated-card wow flipInX">
          <div class="therapy-card">
            <div class="card-img lymphatic-drainage-massage"></div>
            <div class="card-text">
              <h4>Lymphatic Drainage</h4>
              <p>Improve or Eliminate Your Fatigue and IBS Symptoms! A light but, incredibly effective treatment that
                can help with weight loss, eczema, psoriasis, migraines and detox your body.</p>
              <a href="https://booking.appointy.com/NicoTherapies?sr=631883" title="Book a Lymphatic Drainage Massage"
                target="_blank">Book Online</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-4 animated-card wow flipInX">
          <div class="therapy-card">
            <div class="card-img reflexology-foot-massage"></div>
            <div class="card-text">
              <h4>Reflexology</h4>
              <p>Your entire body is mapped out over your feet! By manipulating the feet Reflexologists are able to
                target and influence particular areas of the anatomy and encourage a range of responses.</p>
              <a href="https://booking.appointy.com/NicoTherapies" title="Book a Reflexology Massage"
                target="_blank">Book Online</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-4 animated-card wow flipInX">
          <div class="therapy-card">
            <div class="card-img aromatherapy-massage"></div>
            <div class="card-text">
              <h4>Aromatherapy Massage</h4>
              <p>Essential oils harness the antiseptic &amp; curative properties of plants which have been well
                documented. Aromatherapists can help to heal wounds and reduce scarring ...and smells amazing!!!</p>
              <a href="https://booking.appointy.com/NicoTherapies?sr=635561" title="Book an Aromatherapy Massage"
                target="_blank">Book Online</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-4 animated-card wow flipInX">
          <div class="therapy-card">
            <div class="card-img natural-lift-facial-massage"></div>
            <div class="card-text">
              <h4>Natural Lift Facial Massage</h4>
              <p>Our facial massage helps to firm the skin and produce a radiant complexion. It also improves physical
                health by reducing heart rate and stress hormones and helps to eliminate skin ageing toxins.</p>
              <a href="https://booking.appointy.com/NicoTherapies?sr=631887" title="Book a Natural Lift Facial Massage"
                target="_blank">Book Online</a>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>

  <section class="container-fluid features section-padding">
    <div class="container">
      <div class="features-header">
        <h1>Special Offers for Regular Clients</h1>
        <div class="separator"></div>
      </div>
    </div>
    <div class="features-content container">
      <div class="row">

        <div class="col-md-3 feature">
          <i class="fas fa-globe"></i>
          <h4>Gift Certificates</h4>
          <p>Our easy online ordering system makes the process simple and
            transparent whether you’re buying for one person or ten!</p>
        </div>

        <div class="col-md-3 feature">
          <i class="fas fa-cubes"></i>
          <h4>Packages</h4>
          <p>At Nico Tailored Therapies we provide numerous packages and
            bespoke plans that cater to the pragmatic needs of real people</p>
        </div>

        <div class="col-md-3 feature">
          <i class="fas fa-heartbeat"></i>
          <h4>Loyalty Program</h4>
          <p>The feedback and input we receive from the people that visit our
            clinics help us to refine every aspect of Nico Tailored Therapies
            ...and we reward that!</p>
        </div>

        <div class="col-md-3 feature">
          <i class="fas fa-user-clock"></i>
          <h4>Membership</h4>
          <p>Membership at our Devonshire Row clinic is just £54.99 per month
            ...less than a daily cup of coffee! What could be better than a
            whole hour of a tailored massage.</p>
        </div>

      </div>
    </div>
  </section>

  <section id="therapists" class="container-fluid therapists section-padding">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="therapists-header">
            <h1>Our Therapists</h1>
            <div class="separator"></div>
            <p>Our therapists are fully trained, certifed and insurred. Professional
              therapists, trained by Nico know how to unlock and stimulate the
              body's unique healing potential and natural impulse for vitality.
              Whether at the work place through our Corporate On-Site Massage
              Service or at our clinic - our devotion to quality of
              service is unwavering.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="therapists-cards container">
      <div class="row">

        <div class="col-md-4 d-flex therapist animated-card wow flipInX">
          <div class=" justify-content-center">
            <div class="w-100 m-auto">
              <img class="img-fluid rounded-circle" src="img/therapist-laia-medina.jpg" alt="therapist - Laia">
            </div>
            <h2>Laia</h2>
            <p>ITEC Level 3 Sports Massage, Deep Tissue, Natural Lift Facial Massage, </p>
            <div class="cta">
              <a href="https://booking.appointy.com/NicoTherapies?st=341565" title="Book with Laia" target="_blank"
                class="button button-outline-primary">Book with Laia</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 d-flex therapist animated-card wow flipInX">
          <div class="justify-content-center">
            <div class="w-100 m-auto">
              <img class="rounded-circle img-fluid" src="img/therapist-john-wort.jpg" alt="therapist - Laia">
            </div>
            <h2>John</h2>
            <p>ITEC Level 3 Sports Massage, Deep Tissue Massage, Lymphatic Drainage, and Natural Lift Facial</p>
            <div class="cta">
              <a href="https://booking.appointy.com/NicoTherapies?st=341633" target="_blank" title="Book with John"
                class="button button-outline-primary">Book with John</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 d-flex therapist animated-card wow flipInX">
          <div class="justify-content-center">
            <div class="w-100 m-auto">
              <img class="img-fluid rounded-circle" src="img/therapist-hayley-naim.jpg" alt="therapist - Laia">
            </div>
            <h2>Hayley</h2>
            <p>ITEC Level ?<br>, Deep Tissue Massage, Aromatherapy</p>
            <div class="cta">
              <a href="https://booking.appointy.com/NicoTherapies?st=354717" target="_blank" title="Book with Hayley"
                class="button button-outline-primary">Book with Hayley</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section id="review-slider" class="container-fluid reviews section-padding carousel slide carousel-fade"
    data-ride="carousel">
    <div class="row">
      <div class="col-11 col-lg-10 m-auto">
        <div class="row justify-content-center">

          <div class="col-1 d-none d-xl-block ">

            <!-- Left control -->
            <a class="carousel-control-prev" href="#review-slider" role="button" data-slide="prev">
              <div class="arrow arrow-prev">
                <img src="img/arrow-left.png" alt="previous">
              </div>
            </a>

          </div>

          <div class="col-10">

            <div class="carousel-inner">

              <div class="carousel-item active">
                <div class="text">
                  <h1>Our Clients Are the Beating Heart of Our Business</h1>
                  <div class="separator"></div>
                  <p class="text-quote">"[...]I just wanted to let you know that on
                    Tuesday this week I did a back workout and I have just been to
                    the gym this afternoon and completed my first shoulder workout
                    in 6 months. My shoulders didn’t twinge at all and my back is
                    so much better and I wanted to email you to express how happy
                    I am.</p>
                  <p class="text-quote">Thank you so much for everything you did
                    last week. I can’t believe that 9 days ago I was seriously
                    thinking I wouldn’t be able to go to the gym again this side
                    of Christmas. You are a star…!</p>
                  <p class="text-quote-by">James</p>
                </div>
              </div>

              <div class="carousel-item">
                <div class="text">
                  <h1>Our Clients Are the Beating Heart of Our Business</h1>
                  <div class="separator"></div>
                  <p class="text-quote">"As a very keen sportsman and holding down a
                    challenging job, I find the treatments Nico gives me invaluable
                    to keeping me physically going. Not only is she professionally
                    very competent but it’s also nice to have a treatment with
                    someone you can chat to and have a bit of a joke with. Thanks
                    Nico!"</p>
                  <p class="text-quote-by">Andy</p>
                </div>
              </div>

              <div class="carousel-item">
                <div class="text">
                  <h1>Our Clients Are the Beating Heart of Our Business</h1>
                  <div class="separator"></div>
                  <p class="text-quote">"I felt a little sore the next day but l expected
                    that (as you said I would!) and I felt really good on the Sunday
                    after a good night's sleep and it was great during that week. I
                    even found that my technique when exercising improved e.g. with
                    body pump. The other thing is I feel like my posture has improved
                    - I assume that is a good side effect of a deep tissue massage?!
                    Also my shoulder has not had those niggles that we spoke about
                    since the massage and I've asked for a support for my wrist at my
                    desk so that I don't rest my arm on a flat surface when using the
                    mouse."</p>
                  <p class="text-quote-by">anonymouse</p>
                </div>
              </div>

            </div>

            <!-- Indicators -->
            <div class="col-10 m-auto">
              <ul class="carousel-indicators">
                <li data-target="#review-slider" data-slide-to="0" class="active"></li>
                <li data-target="#review-slider" data-slide-to="1"></li>
                <li data-target="#review-slider" data-slide-to="2"></li>
              </ul>
            </div>

          </div>

          <div class="col-1 d-none d-xl-block ">
            <!-- right control -->
            <a class="carousel-control-next" href="#review-slider" data-slide="next">
              <div class="arrow arrow-next">
                <img src="img/arrow-right.png" alt="next">
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section id="corporate-on-site" class="corporate-on-site section-padding">
    <div class="on-site-parallax section-padding">
      <div class="container">
        <div class="corporate-on-site-header">
          <h1>Corporate On-site Massage Services</h1>
          <div class="separator"></div>
          <p>For the past 10+ years, Nico Tailored Therapies, Ltd. has been providing
            a proven On-Site Massage Therapy service at no cost to your company
            what so ever!</p>
        </div>
      </div>
    </div>

    <div class="corporate-on-site-gallery container">

      <div class="row">
        <div class="col item massage-room wow bounceIn">
          <a href="#corporate-popup-bg">
            <div class="item-image">
              <div class="overlay">
                <div class="overlay-top">
                  <h5>Remedial Therapies that WORK!</h5>
                </div>
              </div>
              <div class="overlay-bottom">
                <img src="img/corporate-onsite-man.png">
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="row">

        <div class="col-md-6">
          <div class="row">
            <div class="col item office wow bounceIn">
              <a href="#corporate-popup-bg">
                <div class="item-image">
                  <div class="overlay">
                    <div class="overlay-top">
                      <h5>Just Moments From Your Desk</h5>
                    </div>
                    <div class="overlay-bottom"></div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">

            <div class="col-md-6">
              <div class="row">
                <div class="col item discounted wow bounceIn">
                  <a href="#corporate-popup-bg">
                    <div class="item-image">
                      <div class="overlay">
                        <div class="overlay-top">
                          <h6>Heavily Discounted</h6>
                        </div>
                        <div class="overlay-bottom"></div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col item corp-book-online wow bounceIn">
                  <a href="#corporate-popup-bg">
                    <div class="item-image">
                      <div class="overlay">
                        <div class="overlay-top">
                          <h6>Book Online 24/7</h6>
                        </div>
                        <div class="overlay-bottom"></div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col item no-charge wow bounceIn">
                  <a href="#corporate-popup-bg">
                    <div class="item-image">
                      <div class="overlay">
                        <div class="overlay-top">
                          <h6>Licensed and Insured</h6>
                        </div>
                        <div class="overlay-bottom"></div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col item dedicated-therapists wow bounceIn">
                  <a href="#corporate-popup-bg">
                    <div class="item-image">
                      <div class="overlay">
                        <div class="overlay-top">
                          <h6>Decicated Therapists</h6>
                        </div>
                        <div class="overlay-bottom"></div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="email text-center wow lightSpeedIn" data-wow-duration="2s">
        <form class="corporateForm" id="corporateForm">
          <input type="email" name="email" placeholder="Your Email" required>
          <button class="button button-primary corporateButton">Leave Us Your Email</button>
        </form>
      </div>

    </div>
  </section>

  <div class="corporate-popup-bg" id="corporate-popup-bg">
    <div class="corporate-popup">
      <a href="#corporate" class="popup-close">&times;</a>
      <div class="row">
        <div class="col-xl-6 corp-img"></div>
        <div class="col-xl-6 corp-description">
          <h2>Corporate On-site Massage Info</h2>
          <p>
            <span class="red-bold">Nico Tailored Therapies, Ltd.</span> provides a proven On-Site Massage and
            Reflexology Therapy services at no cost to your company what so ever!
            <br>
            <br>
            Your staff can enjoy the benefits of massage at work at no cost to the company. The Company simply provides
            the space. Staff typically pay Nico Tailored Therapies, Ltd. directly at the time of their therapy session.
            A subsidised arrangement can also be arranged. Rates are greatly reduced for your staff by as much as £20
            per hour!
            <br>
            <br>
            With no interruption to the workday schedule you can offer your staff the full benefits of fully licensed
            and insured therapists right at the workplace.
            <br>
            <br>
            The Nico Tailored On-Site Therapy Program can take as little as 30 minutes per staff in a small space such
            as a meeting room. Therapy sessions are booked by staff and can be booked directly with NicoTailored
            Therapies, Ltd.. Staff pay the therapist after their session. Nico Tailored Therapies, Ltd. will provide
            everything - no storage facility is required and your environment is left clean, neat and ready for your
            next business event.
            <br>
            <br>
            Staff get all the benefits of therapy at discounted prices. Nico Tailored Therapies, Ltd. offers total
            liability protection for all on-site therapy events.
            <br>
            <br>
            Nico Tailored Therapies, Ltd. handles all bookings directly with each individual.
            <br>
            <br>
            Please email us at <a
              href="mailto:info@nicotailoredtherapies.co.uk?subject: On-site Enquiry">info@nicotailoredtherapies.co.uk</a>
            and we will send you our Corporate On-site Information Kit containing further information.
          </p>
        </div>
      </div>
    </div>
  </div>

  <section class="branches section-padding">

    <div class="container-fluid wanted-parallax">
      <div class="row">
        <div class="col-11 col-lg-10 m-auto">
          <div class="row">
            <div class="col-xl-7 left-content">
              <div class="text">
                <h2>Therapists Wanted!</h2>
                <div class="separator"></div>
                <p>If you are a self-motivated and dedicated individual who is looking for a
                  new challenge then perhaps you are ready to become part of our team of
                  qualified massage therapists. We are always on the look out for
                  talented and experienced therapeutic practitioners and specialists in
                  alternative treatments.</p>
                <p>Whether you are a vastly experienced professional or an enthusiastic
                  newcomer we endeavour to promote an open and honest dialogue with our
                  team of professionals. We operate a client centric service in a
                  comfortable and productive environment and support a framework around
                  which you can learn new skills and further your existing knowledge. At
                  Nico Tailored Therapies we are constantly learning and perfecting our
                  art and we invite you to join us in our aim to become the very best.</p>

              </div>
              <div class="wanted-button">
                <div class="email wow lightSpeedIn" data-wow-duration="2s">
                  <form class="wantedForm" id="wantedForm">
                    <input type="email" id="wantedEmail" placeholder="Your Email" required>
                    <button class="button button-primary wantedButton">Leave Us Your Email</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-xl-5 d-none d-xl-block wanted-img  wow fadeInLeft">
              <img src="img/therapists.png" alt="Therapists Wanted!">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="branches" class="container">
      <div class="branches-header">
        <h1>Where We Are</h1>
        <div class="separator"></div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-5 panel wow slideInLeft">
          <p>For a skilled, perceptive and professional treatment there is nowhere better than our Devonshire
            Row massage clinic; well established in the heart of the capital we ensure a thorough and
            effective service with excellent public transport links.</p>

          <h5 class="red-bold">London, Devonshire Row</h5>

          <p>Our central situation within the city’s business district promises that we can deliver our
            complementary therapies and massage treatments to a wider range of clients who are able to
            integrate their appointment easily into a demanding daily schedule.</p>

          <p><b>Address:</b> We are located at <span class="red-bold">14 Devonshire Row, London, EC2M
              4RH</span>. You can
            get to us easily from the London Undergraound, elighting at Liverpool Street Station; followed
            by a 2 minute walk on Bishopsgate Road.</p>

          <p><b>Tel:</b> <span class="red-bold">0208 819 6727</span></p>
          <p><b>Fax:</b> <span class="red-bold">0208 819 6287</span></p>
          <p><b>Email:</b> <a href="mailto:info@nicotailoredtherapies.co.uk"
              alt="email">info@nicotailoredtherapies.co.uk</a></p>
        </div>

        <div class="col-lg-7">
          <div class="map wow slideInRight">
            <iframe src="https://snazzymaps.com/embed/166396" width="100%" height="600px" style="border:none;"></iframe>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section id="contact" class="contact section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 left-content wow bounceInLeft">
          <div class="text">
            <h2>Ask Something or Leave a Message</h2>
            <div class="separator"></div>
            <p>We use our expertise to your advantage at Nico Tailored Therapies.
              Our therapists can offer some of the best advice available about
              the treatments we have on offer. If you’re uncertain about which
              treatment will bring you the results you’re looking for, our
              specialists are on hand to guide you in the right direction.
              Please don’t hesitate to enquire with us as we are only to happy
              hear from you.</p>
          </div>
          <div class="info">
            <p class="mb-3"><b>Main Branch</b></p>
            <p><i class="fas fa-map-marked-alt mr-2"></i>We are located at <b>14 Devonshire Row,
                London, EC2M 4RH</b>. You can get to us easily from the London Undergraound,
              elighting at Liverpool Street Station; followed by a 2 minute walk on Bishopsgate Road.</p>
            <p><i class="fas fa-phone mr-2"></i>0208 819 6727</p>
            <p><i class="fas fa-envelope mr-2"></i>info@nicotailoredtherapies.co.uk</p>
          </div>
        </div>

        <div class="col-lg-5 m-auto contact-form wow bounceInRight">
          <form class="contactForm" id="contactForm">
            <input type="text" name="first" placeholder="First Name" required>
            <input type="text" name="last" placeholder="Last Name" required>
            <input type="email" name="email" id="contactEmail" placeholder="Email" required>
            <textarea name="message" id="message" cols="30" rows="10" placeholder="Your Message" required></textarea>
            <button type="submit" class="button button-white-outline-primary contactButton">Submit</button>
          </form>
        </div>

      </div>
    </div>
  </section>

  <footer>
    <div class="container-fluid fixed-content">
      <div class="footer-columns container section-padding">
        <div class="row">
          <div class="col-md-4 column">
            <h6>Navigation</h6>
            <div class="footer-nav">
              <ul>
                <li><a href="#flash" class="nav-link">Home</a></li>
                <li><a href="#book-online" class="nav-link">Book Online</a></li>
                <li><a href="#therapies" class="nav-link">Therapies</a></li>
                <li><a href="#therapists" class="nav-link">Our Therapists</a></li>
                <li><a href="#corporate-on-site" class="nav-link">Corporate On-site</a></li>
                <li><a href="#branches" class="nav-link">Find Us</a></li>
                <li><a href="#contact" class="nav-link">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 column">
            <h6>Stay Connected</h6>
            <p>Our therapists can offer some of the best advice available. Email us or check us out on our social media
              channels.</p>
            <p><i class="fas fa-envelope mr-2"></i>info@nicotailoredtherapies.co.uk</p>
            <p class="socials d-inline">Follow Us On:</p>
            <div class="socials d-inline-block text-center">
              <a href="https://www.facebook.com/Nico-Tailored-Therapies-Remedial-Massage-Reflexology-227666440592135/"
                class="social-link"><i class="fab fa-facebook-f"></i></a>
              <a href="https://twitter.com/NicoTherapies" class="social-link"><i class="fab fa-twitter"></i></a>
              <a href="https://www.linkedin.com/in/nico-austin-54237633" class="social-link"><i
                  class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
          <div class="col-md-4 column">
            <h6>About Nico Tailored Therapies, ltd.</h6>
            <p>We use our expertise to your advantage at Nico Tailored Therapies.
              Our practices are used to improve general health, treat and
              prevent sports injuries, back, neck and shoulder pain, relieve
              stress and offer palliative care to a range of ailments from
              eczema and diabetes to migraines and fatigue. We employ
              innovative and tailored techniques and treatments</p>
          </div>
        </div>
      </div>

      <div class="copyright">
        <div class="container">
          <p class="d-inline-block">Copyright © 2019 Nico Tailored Therapies. All Rights Reserved.</p>
          <a class="d-inline-block" href="#privacy-popup-bg">Privacy Policy</a>
          <a class="d-inline-block" href="#terms-conditions-popup-bg">Terms &amp; Conditions</a>
        </div>
      </div>

    </div>
  </footer>

  <div class="terms-conditions-popup-bg" id="terms-conditions-popup-bg">
    <div class="terms-conditions-popup">
      <a href="#terms-conditions" class="popup-close">&times;</a>
      <div class="row">
        <div class="col-xl-12 terms-conditions-description">

          <h2>Terms &amp; Conditions</h2>

          <ol>
            <li>
              <h4>Nico Tailored Therapies</h4>
              <p>Whilst every effort is made to ensure the smooth running of our clinics, ongoing
                maintenance, refurbishment or unforeseen circumstances may result in some of the
                facilities being withdrawn at short notice. All facilities are subject to availability.
              </p>

              <h5>Disability Access:</h5>
              <p>Nico Tailored Therapies is committed to providing accessibility for all and strives to
                operate best practice within the constraints of our buildings. Whilst the clinics makes
                every effort to ensure all guests find the clicics easily accessible, due to the nature
                of the building, many of the facilities are laid out over different floors. As such,
                there are a lot of stairs. Please bear this in mind when planning your visit. For more
                information please contact our Reservations Team who will be happy to help.</p>

              <h5>Age Restrictions & Access</h5>
              <p>Please note that all guests visiting the clinics must be aged 16 or over. We also kindly
                ask that guests between the age of 14 and 16 are accompanied by their parent or guardian
                at all times. Some of our more technical Facial & Body Skin Spa treatments are only
                available to adults aged 18 and over.</p>

              <h5>National Smoke Free Legislation</h5>
              <p>Please be advised that our clinics complie with the National Smoke Free legislation. As a
                result of this none of the clinics have a smokers area.</p>
            </li>

            <li>
              <h4>Cancellation Policy</h4>
              <p>All Nico clinics reserve the right to change the date of or cancel your booking if their
                premises are closed due to the circumstances beyond their control, including, but not
                limited to fire, disputes with employees, by order of any public authority or any other
                force majeure event.</p>

              <h5>Cancel a reservation or treatment</h5>
              <p>If you need to cancel a reservation or treatment then we can only offer a full refund if
                your reservation is cancelled at least 7 days in advance. If the reservation is made
                within the 7 day cancellation period, we assume there will be no cancellation and you
                are expected to be able to attend on the date that you have reserved. Nico Tailored
                Therapists are unable to offer a refund unless there are exceptional circumstances and
                only at the company’s complete discretion.</p>

              <h5>Cancel Booking by Gift Voucher within 7 days</h5>
              <p>If the booking was made with the use of a gift voucher, and you cancel the booking within
                the 7 day cancellation period, the gift voucher will be deemed null and void. In this
                event, you will not be entitled to use the gift voucher in the future.</p>
              <p>Gift vouchers are non-refundable and cannot be exchanged for cash or products.</p>

              <h5>24 hours notice to cancel or re-schedule all appointments</h5>
              <p>Please note we require 24 hours notice to cancel or re-schedule all appointments. 100% of
                the treatment cost will be charged to the credit card used to secure the booking if we
                are unable to fill your space with another booking.</p>
              <p>If a gift voucher has been used to secure the booking, please note that we will adjust
                the value of the voucher to show the cancellation/no show charges.</p>
            </li>

            <li>
              <h4>Nico Offers</h4>

              <h5>20% off your first treatment offer.</h5>
              <p>Valid only upon receipt of a valid 20% Offer Flyer In order to redeem this offer, the
                flyer must be presented in the relevant clinic upon booking and payment and the below
                conditions met. Valid against any 60 minute or longer treatment. Subject to
                availability. One voucher per customer. Valid Monday to Friday on your first visit to
                Nico Tailored Therapies only. Cannot be used in conjunction with any other offer or at
                any other Nico location.</p>
            </li>
            <li>
              <h4>Making Your Booking</h4>

              <p>All bookings are preauthorized (not charged) at the time of making the reservation. Only
                one credit / debit card per booking can be accepted. If you are making a booking with a
                gift voucher please quote the barcode number and treatment choices. Only selected
                treatments are available with your gift voucher which are listed on our website. A valid
                credit / debit card number will be required at the time of booking to guarantee the
                reservation, and payment is required at the time of booking for items added to the
                reservation that are not covered by the gift voucher. Nico Tailored Therapies reserves
                the right to charge this card with any outstanding money owing by you or any of your
                guests if any outstanding money is not settled at the end of your treatment.</p>
              <p>Please make a note of the booking reference number you are given. We will confirm your
                booking in writing in the form of a Confirmation Letter/Email, which should be presented
                to Reception upon your arrival along with any gift vouchers you are using. The Terms and
                Conditions of your booking are printed on the letter/email and should be read
                thoroughly.</p>
              <p>Any group booking discounts do not generally apply to a Friday evening or a Saturday.</p>
              <p>To secure your booking a valid credit/debit card is required and we have a 24 hour
                cancellation policy. Treatments that are cancelled under 24 hours notice will be charged
                at 100% of the treatment price, unless we can fill that space with another booking.</p>
              <p>Please arrive 10 minutes prior to your treatment. As a courtesy to all our guests, a
                prompt appointment schedule is adhered too. Late appointments may not be honoured and
                will still be charged. Treatments that begin late will still finish at the appointed
                time, so not to inconvenience other guests.</p>

              <h5>Nico Series (course of treatments)</h5>
              <p>All courses that are booked have an 8 month expiry date from point of purchase. All
                treatments are subject to availability.</p>
            </li>

            <li>
              <h4>Contra-Indications / Special Requirements</h4>

              <p>There are some contra-indications to some treatments and facilities and Nico Tailored
                Therapise treatments are carried out subject to the completion of our Medical
                Questionnaire. If you have any special requirements that we should take into account
                when you visit us, for example Heart Conditions, High/Low Blood Pressure, Circulatory
                Disorders, Epilepsy, Arthritis/Rheumatism, Diabetes, Allergies or if you are pregnant,
                (this list is not exhaustible,) you should advise our Reservation Agent of at the time
                of booking. In addition, you should seek the advice of your doctor. Nico Tailored
                Therapies are unable to give medical opinions on any medical conditions.</p>
              <p>If you do not let us know of any special requirements at the time of booking we cannot
                guarantee that we will be able to fully accommodate your requirements at the time of
                your visit. If any treatment is found unsuitable we will recommend an alternative where
                possible, subject to availability.</p>
              <p>During the first 12 weeks and after 28 weeks of pregnancy we advise no massage or body
                treatments. If you ignore the advice of Nico Tailored Therapies regarding the above you
                do so at your own risk.</p>
              <p>In Addition: In addition to the above; please be aware that if you are under any medical
                care for a specific skin condition a full consultation will be required to determine
                suitable treatments. This also includes procedures that may have been carried out prior
                to your visit to us such as botox injections or fillers.</p>
              <p>Please note that some of our treatments require preparation of the skin prior to your
                first treatment with us. This will be discussed on booking.</p>
              <p>If you do not let us know of any special requirements at the time of your booking we
                cannot guarantee that we will be able to fully accommodate your requirements at the time
                of your visit. If any treatment is found unsuitable we will recommend an alternative
                where possible, subject to availability.</p>
            </li>

            <li>
              <h4>Treatments - Reservation Requests</h4>

              <p>All treatments / reservations are subject to availability and in order to comply with
                your requirements, as much notice as possible should be given of your choice.</p>
              <p>When completing the online request form please be aware that your reservation has not yet
                been completed. A member of the Reservations team will contact you to confirm
                availability and to process your reservation.</p>
            </li>
            <li>
              <h4>Gift Vouchers</h4>

              <p>All Gift Vouchers are valid for 12 months from the date stamped on the voucher and cannot
                normally be extended.</p>
              <p>Gift vouchers cannot be refunded in total or in part, nor can the voucher be replaced by
                Nico Tailored Therapise if lost or stolen. Only monetary vouchers may be used for the
                purchase of products. Monetary or Treatment gift vouchers must be used in conjunction
                with admission when booking treatments. Only selected treatments are available within
                your package gift voucher, and they are listed in our website.</p>
              <p>All Gift Voucher packages need to be pre-booked. When making a booking with a gift
                voucher a valid credit card number will be taken to secure the reservation.</p>
              <p>The content of the gift voucher packages cannot be changed.</p>
              <p>Nico Tailored Tharapies reserves the right to replace any element of this voucher with an
                offer of equivalent value.</p>

              <h5>Online Printable Vouchers</h5>
              <p>The printable vouchers are not valid vouchers. Your valid voucher will be sent at the
                next postal opportunity available. Please bring your valid posted voucher with you on
                your visit to any of our clinics. The printable voucher will not be accepted at any our
                clinics.</p>
              <p>Deliveries of vouchers will depend on which postage option was selected at point of
                purchase, however all deliveries of your valid voucher are dependant on Royal Mail.</p>
              <p>Nico Tailored Therapies will endeavor to dispatch all gift vouchers out on the same day
                if the order was placed before 1pm. This only applies on normal business days, i.e.
                Monday-Friday excluding Bank Holidays.</p>
            </li>

            <li>
              <h4>Online Purchases / Delivery</h4>
              <p>Once an order has been placed we will confirm that your order has been accepted by
                sending an e-mail to the e-mail address you provide on your registration form. Our
                acceptance of your order brings into existence a legally binding agreement between us.
              </p>
              <p>We accept all orders for products and services subject to availability.</p>
              <p>All credit and debit card holders are subject to validation checks and authorisation by
                the card issuer. Payment will be debited to your account before despatch of your
                purchase. If the issuer of your payment card refuses to authorise payment to us, we will
                not be liable for any delay or non-delivery. Items sent via First Class post are not
                traceable if they are not received.</p>
              <p>Whilst every effort is made to ensure that any amendments requested to orders after they
                have been placed are carried out, Nico Tailored Therapies cannot guarantee this.</p>
              <p>During periods where the UK experiences bad weather conditions, Nico Tailored Therapies
                cannot guarantee special delivery.</p>
              <p>Delivery time for all UK Standard postage is 1 - 5 working days.</p>
            </li>
            <li>
              <h4>Price Information</h4>
              <p>Nico Tailored Therapies taken great care to ensure prices are accurate. If you are
                shopping using the list within ‘My Account’, the prices on your previous order may no
                longer be valid. However, the correct prices will be applied when you select an item
                from the shopping list and it is added to your current basket. All prices include VAT
                where appropriate. Promotions and prices you see in the Nico Tailored Therapies clinics,
                Boots The Chemist or any other external trader do not apply to
                www.nicotailoredtherapies.co.uk and vice versa.</p>
              <p>Please note that all pricing is subject to change.</p>
              <p>Nico Tailored Therapies reserves the right to introduce treatment promotions at any time.
                All bookings made prior to a promotion being introduced cannot be changed to that of the
                promotional price.</p>
            </li>
            <li>
              <h4>Online Promotions</h4>
              <p>Products and/or Vouchers. Excludes any other postage options or any other clinic
                locations.</p>
            </li>
            <li>
              <h4>Enquiries</h4>

              <h5></h5>
              <p>If you would like more information about the terms and conditions of this site, or have
                any queries with regards to your order or booking requests, please do not hesitate to
                contact us at <a
                  href="mailto:info@nicotailoredtherapise.co.uk?subject: Terms and Conditions">info@nicotailoredtherapise.co.uk</a>
              </p>
            </li>
            <li>
              <h4>Credit Card Misuse</h4>
              <p>The majority of card issuers either cover all the charges that may result from
                unauthorised use of your credit card or debit cards, or may limit your liability to £50.
              </p>
              <p>Nico Tailored Therapies will take all reasonable care to keep the details of your order
                and credit card information secure but unless we have been negligent, we will not be
                liable for any losses you may suffer as a result of unauthorised access by a third party
                to the information transmitted by you when ordering products or services from Nico
                Tailored Therapies.</p>
            </li>
            <li>
              <h4>How we use your information</h4>
              <p>When you give us information, it may be used for a number of different purposes which are
                listed below.</p>
              <p>(i) Administration of the site: Some of the basic information you give us is necessary
                for us to operate our service for you, such as knowing your full name to ensure any
                orders you place on the site are delivered correctly.</p>
              <p>(ii) To enable customer services: We ask for your contact details, such as your e-mail,
                to enable us to resolve any queries you may have about using the site and for us to
                notify you about your order.</p>
              <p>(iii) Direct marketing: If you have agreed we can provide extra services, such as e-mails
                about new products, services and promotions, we ask for a little more information, such
                as your gender and age range, so that the information we send is relevant.</p>
              <p>(iv) To learn about what our customers want: Any extra information we ask for helps us to
                understand our customers better - we think that it is important to keep improving our
                service. We also learn about our customers by tracking their movements around the site
                and collecting information about buying habits. Individuals are not identified but the
                results of customers’ shopping habits and preferences of using the site are analysed on
                masse.</p>
              <p>(v) Sharing data: We do not pass on your personal details for marketing purposes to any
                third parties.</p>
            </li>

            <li>
              <h4>What to do if you do not want to receive information</h4>
              <p>You have the right not to receive marketing information if you do not want it. To opt out
                of receiving information from the Nico Tailored Therapise, you should click “If you wish
                to unsubscribe, click here” on your emails.</p>
              <p>To guarantee you do not receive information about Nico Tailored Therapies, tick/untick
                the registration box on any collateral that requests this information.</p>
            </li>

            <li>
              <h4>Updating the information you have provided</h4>
              <p>You can, at any time, change and update the information you have provided by logging into
                the site, visiting ‘My Account’ and choosing the ‘Registration Details’ option where you
                can edit your details easily.</p>
            </li>

            <li>
              <h4>How long is information kept for</h4>
              <p>We will keep and use your information for as long as you are registered on the current
                website. You can choose to cancel your registration in the ‘My Account’ section of the
                site. Doing this does not erase your information from our database. Your information is
                then stored for two reasons:</p>
              <p>to ensure that any orders you have placed can be processed to completion and</p>
              <p>so that we can contact you in emergencies, such as if there is an urgent product recall.
                Otherwise, your information will not be accessed again and it will remain secure.</p>
              <p>If you cancel your registration any orders you have placed will be processed as normal.
                You cannot open a new account using the same e-mail address as a previously closed
                account.</p>
            </li>

            <li>
              <h4>General</h4>
              <p><strong>1.</strong> Unless otherwise specified, the materials on this website are directed solely at
                consumers who access this Web site from the United Kingdom. Nico Tailored Therapies
                makes no representation that any product referred to in the materials on this Web site
                is appropriate for use, or available, in other locations. Those who choose to access
                this site from other locations are responsible for compliance with local laws if and to
                the extent local laws are applicable.</p>
              <p><strong>2.</strong> Any contract between you and Nico Tailored Therapies, whether for use of the site
                or
                in relation to the purchase of products or services through the site will be governed by
                the laws of England and Wales and both parties, (you and Nico Tailored Therapies,)
                submit to the non-exclusive jurisdiction of the English Courts.</p>
              <p><strong>3.</strong> Nico Tailored Therapies has taken every care in the preparation of the content of
                this
                website, however we cannot guarantee uninterrupted and totally reliable access to this
                Web site and so, therefore, cannot guarantee that the information will always be
                completely up to date and free of mistakes. To the extent permitted by applicable law,
                Nico Tailored Therapies disclaims all warranties; express or implied, as to the accuracy
                of the information contained in any of the materials on this Web site and will accept no
                liability for any loss or damage arising as a result of problems with access.</p>
              <p><strong>4.</strong> Nico Tailored Therapise shall not be liable to any person for any loss or damage
                which
                may arise from the use of any of the information contained in any of the materials on
                this Web site.</p>
              <p><strong>5.</strong> Certain (hypertext) links in this site may lead to other Web sites which are not
                under
                the control of Nico Tailored Therapies. When you activate any of these you will leave
                the Web site and Nico Tailored Therapies has no control over and will accept no
                responsibility or liability for the material on any Web site which is not under the
                control of Nico Tailored Therapies.</p>
              <p><strong>6.</strong> We may make software owned or operated by third party companies available to you.
                You
                must only use this software in accordance with the terms and conditions imposed by the
                third party provider.</p>
              <p><strong>7.</strong> Your correspondence or participation in promotions or business dealings with
                advertisers found on or through the Web site, including payment and delivery of related
                goods or services and any other terms, conditions, warranties or representations
                associated with such dealings, are solely between you and such advertisers. You agree
                that we will not be responsible or liable for any loss or damage of any sort incurred as
                the result of any such dealings or as the result of the presence of such advertisers on
                this Web site.</p>
              <p><strong>8.</strong> The exclusions of liability set out in these terms and conditions shall not apply
                to
                any damages arising from death or personal injury caused by the negligence of Nico
                Tailored Therapies or any of its employees or agents.</p>
              <p><strong>9.</strong> These terms and conditions shall be governed by and construed in accordance with
                English Law. If any provision of these terms and conditions shall be unlawful, void or
                for any reason unenforceable then that provision shall be deemed severable and shall not
                affect the validity and enforceability of the remaining provisions.</p>
              <p><strong>10.</strong> Nico Tailored Therapies reserves the right to alter these terms and conditions
                from
                time to time by posting new terms and conditions on this Web site.</p>
            </li>

            <li>
              <h4>Trademarks</h4>
              <p>All brand names, product and service names and titles and copyrights used in this site
                are trademarks, trade names, service marks or copyrights of their respective holders. No
                permission is given by Nico Tailored Therapies for their use by any person other than
                such holders and such use may constitute an infringement of the holders’ rights.</p>
            </li>

            <li>
              <h4>Copyright</h4>
              <p>All designs, text, graphics and their selection and arrangement on this Web site are the
                copyright of Nico Tailored Therapies or its content providers. Permission is granted to
                users to electronically copy or print portions of this site for their own personal,
                non-commercial use. Any other use of materials on this site without Nico Tailored
                Therapist's prior written consent is strictly prohibited.</p>
            </li>

          </ol>

        </div>
      </div>
    </div>
  </div>

  <div class="privacy-popup-bg" id="privacy-popup-bg">
    <div class="privacy-popup">
      <a href="#privacy" class="popup-close">&times;</a>
      <div class="row">
        <div class="col-xl-12 privacy-description">

          <h2>Privacy Policy</h2>

          <ol>
            <li>
              <h4> Overview</h4>
              <p>We have formed this privacy statement with the aim to demonstrate our solid commitment to the privacy
                of personal information provided by those visiting and interacting with our websites as well as using
                our services.</p>
              <p>Our privacy policy strictly protects the security of all you personal information.</p>
              <p>The following unveils information and dissemination rules for our websites and of our service users /
                clients.</p>
              <p>By using our website and/or our services you agree with the use of your personal information as
                described in this Privacy Policy.</p>
              <p>We reserve the right to amend this Privacy Policy at any time with or without notice. However, at all
                events we will not use the personal information you have submitted under new Privacy Policy in a manner
                that is materially inconsistent with former Privacy Policy, without your prior consent.</p>
            </li>
            <li>
              <h4>The information we collect</h4>
              <p>When you visit our website or when you do an enquiry via phone, email or text message, we may collect
                information which is wittingly and wilfully provided by you.</p>
              <p>We also collect information related to the ordering process, which you provide during accomplishment of
                the order form or on the phone, by email or text message to the operator for any purchase purpose:</p>
              <ol>
                <li>Your full name</li>
                <li>Your email address</li>
                <li>Your postal address (billing address or/and address of the venue/session)</li>
                <li>Business or personal phone number</li>
                <li>Information provided in the comment box</li>
              </ol>
            </li>
            <li>
              <h4>Email Information</h4>
              <p>If you will correspond with us via email, we may retain your email address, the content of your email
                messages and our responses.</p>
            </li>
            <li>
              <h4>"Cookies" and links to other websites</h4>
              <p>If your contact and dealing with us is via our websites, we may use “cookies”.</p>
              <p>A “cookie” is a small file containing a string of characters that is sent to your computer when you
                visit a website. When you visit the website again, the cookie allows that site to recognize your
                browser.</p>
              <p>Cookies may store user preferences and other information. You can reset your browser to refuse all
                cookies or to indicate when a cookie is being sent. However, some website features or services may not
                function properly without cookies.</p>
              <p>If you are making a purchase, we may also use cookies to keep track of the transaction from one web
                page to another.</p>
              <p>Our website(s) may contain links to other sites not controlled by us. We are not responsible for the
                actions, content or the privacy policies of those websites. It is your responsibility to check the
                status of these sites.</p>
            </li>
            <li>
              <h4>How do we use the information that you provide to us</h4>
              <p>We will use your personal data only lawfully and in accordance with the Data Protection Act 1998. We
                use all personal information for purposes of administering our business activities, providing the
                services you requested, to process your payment, to monitor the use of the service, our marketing and
                promotional efforts and improve our content and service offerings, and customize our site's content,
                layout, services and for other lawful purposes. Those will help us to improve our website and our
                services and tailor it to meet your needs.</p>
              <p>Such information may be also shared with others (third parties) if it is necessary to the extent of
                transactions process, to provide services that you have requested, or in order to ensure that we are
                able to provide such services in general and meet the quality standards set by our management.</p>
              <p>We may also use the information to notify you about important changes to our websites, new offers and
                services, coupons and promotional vouchers we think you will find valuable. You may notify us at any
                time by email, by post or by phone if you do not wish to receive these offers.</p>
              <p></p>
              <p></p>
              <p></p>
            </li>
            <li>
              <h4>Disclosure of Information</h4>
              <p></p>
              <p>In case that our website or Nico Tailored Therapies Ltd (or a substantial portion of its assets) is
                acquired by the new owner, your information would be considered as a part of those assets and may be
                transferred to new proprietor.</p>
              <p>We may disclose information when legally required to do so, when we believe, in good faith that the law
                demands it or for the protection of our legal rights. We may also disclose information when we have
                valid reason to believe that disclosing this information is necessary to identify, contact or bring
                legal action against someone who may be violating our Terms and Conditions or to protect the safety of
                our users and the public. In the event that Nico Tailored Therapies Ltd enters into a joint venture or
                is merged with another business entity, your information may be disclosed to our new business partners.
              </p>
            </li>
            <li>
              <h4>Data Protection</h4>
              <p>We will maximize our effort to keep all your personal details safe.</p>
              <p>We thoroughly protect all personal data from disclosure, loss, malpractice, misuse, unauthorized access
                or destruction. However you must assume that it is possible for your personal data to be obtained by
                "hackers" and used in an inappropriate manner that may cause you harm and that you agree that Nico
                Tailored Therapies Ltd is not responsible for damages to you in those cases.</p>
              <p>We will not reveal your personal details to any third party for any purposes without your approval in
                advance, unless otherwise stated in this Privacy Policy.</p>
              <p>We will not collect sensitive information about you unless with your explicit consent.</p>
            </li>
          </ol>

        </div>
      </div>
    </div>
  </div>


  <script src="js/cookies-eu-banner.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/smooth-scroll.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>